.apparel {
    width: 100%;
    padding: 0.4rem;
    margin: 0.1rem;
    border-radius: 5px;
    /* text-indent: 5px; */
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #aaaaaa;
  }